@mixin marginOverall($value){
  margin: $value;
}

@mixin fontBold($size){
  font-size: $size;
  font-weight: bold;
}

@mixin marginLeftRight($margin){
  margin-left: $margin;
  margin-right: $margin;
}

@mixin paddingLeftRight($padding){
  padding-left: $padding;
  padding-right: $padding;
}

@mixin paddingTopBottom($padding){
  padding-top: $padding;
  padding-bottom: $padding;
}