// Fonts
$fontFamily: Helvetica, Arial, sans-serif;
$fontSizeMedium: 1rem;
$fontSizeSmall: 0.8rem;

// Colors
$backGroundDefault: #fcfcfc;

// Margins
$marginDefault: 15px;
$marginSmall: 5px;
$marginSmallest: 2px;

// Padding
$paddingDefault: 2px;
$paddingMedium: 5px;

// Radius
$radiusDefault: 5px;

// Unimportant Information
$unimportantColor: #ababab;
