// Fonts
$fontFamily: 'PT Sans', Helvetica, sans-serif;
$fontSizeBig: 1.5rem;
$fontSizeMedium: 1rem;
$fontSizeSmall: 0.8rem;

// Colors
$backgroundColorDefault: #fcfcfc;
$backgroundColorLight: #fff;

$colorDefault: #7cb5ec;
$colorMedium: #6FA1D2;
$colorMediumDark: #5B84AC;
$colorDark : #39536C;

$fontColorLight: #fff;

// Margins
$marginDefault: 15px;
$marginMedium: 10px;
$marginSmall: 5px;
$marginSmallest: 2px;
$marginZero: 0px;

// Padding
$paddingDefault: 2px;
$paddingMedium: 5px;
$paddingBig: 10px;

// Radius
$radiusDefault: 5px;

// Unimportant Information
$unimportantColor: #ababab;
