// Fonts
$fontFamily: Helvetica, Arial, sans-serif;
$fontSizeBig: 1.5rem;
$fontSizeMedium: 1rem;
$fontSizeSmall: 0.8rem;

// Colors
$backGroundDefault: #fcfcfc;
$buttonColorDefault: #7be2ff;
$buttonColorActive: #ababab;
$buttonColorHover: #53b8ff;
$buttonColorPress: #167bff;
$buttonColorShadow: #000;

// Margins
$marginDefault: 15px;
$marginMedium: 10px;
$marginSmall: 5px;
$marginSmallest: 2px;
$marginZero: 0px;

// Padding
$paddingDefault: 2px;
$paddingMedium: 5px;

// Radius
$radiusDefault: 5px;

// Unimportant Information
$unimportantColor: #ababab;
