@import "./../../variables";
@import "./../../mixins";

.pieChartTable {
  display: flex;
  justify-content: center;
  @include paddingTopBottom($paddingBigger);

  div {
    min-height: $boxMinHeight;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}