@import "./../base";

.nav {
  @include marginLeftRight($marginDefault);
}

.chartSelector {
  margin-top: $marginMedium;
  margin-bottom: $marginDefault;
}

.chartSelector > label {
  font-weight: bold;
  margin: $marginSmall;
}