@import "./../variables";

$buttonColorFontDefault: $fontColorLight;
$buttonColorDefault: $colorDefault;
$buttonColorActive: $colorDark;
$buttonColorHover: $colorMediumDark;
$buttonColorPress: $colorMedium;

.chartButton {
  background-color: $buttonColorDefault;
  border: none;
  border-radius: $radiusDefault;
  color: $buttonColorFontDefault;
  margin-right: $marginSmall;
  outline: none;
  padding: $paddingMedium;
}

.chartButton:hover {
  background-color: $buttonColorHover;
}

.chartButton:active{
  background-color: $buttonColorPress;
  transform: translateY(4px);
}

.isActive {
  background-color: $buttonColorActive;
}

.isFirst {
  margin-left: 11px;
}
