@import "./../variables";

.projectSelector {
  margin: $marginSmall;
}

.projectSelector > label {
  font-weight: bold;
}

.projectSelector > select {
  background-color: $backgroundColorDefault;
  border-radius: $radiusDefault;
  padding: $paddingDefault;
}
