@import "./../variables";
@import "./../mixins";

.table {
  @include border($borderDefaultSize);
  margin-bottom: $marginDefault;
  margin-left: auto;
  margin-right: auto;

  thead {
    color: $fontColorLight;
    background-color: $colorDark;
  }

  td {
    padding: $paddingMedium $paddingBig;
  }
}

td.border {
  border: $colorDark 1px solid;
}

td.number {
  text-align: right;
}